<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Doctor Profile</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

  <link rel="stylesheet" href="../css/doctor_profile.css" />
</head>
<body>
  <%- include('doctor_navbar.ejs') %>
  <div class="profcontainer">
    <div class="profile-card">
      <div class="profile-image">
        <label for="profile-upload" class="profile-image-upload">
          <input
            type="file"
            id="profile-upload"
            accept="image/*"
            onchange="handleImageUpload(event)"
          />
          <span class="pencil-icon">
            <i class="fas fa-pencil-alt"></i>
          </span>
          <img
            id="profile-image"
            src="../assets/profile.png"
            alt="Doctor Profile"
          />
        </label>
      </div>
      <div class="profile-details">
        <div class="profile-name">
          <%= doctorName %>
        </div>
        <div class="profile-info">Specialist: <%= specialist %></div>
        <div class="profile-info">Hospital: <%= hospital %></div>
        <div class="profile-info">Location: <%= location %></div>
        <div class="profile-info">Contact: <%= contactEmail %></div>
      </div>
    </div>
    <div class="research-section">
      <div class="research-title">Researches and Publications</div>
      <% researchItems.forEach((item) => { %>
        <div class="research-item">
          <%= item %>
        </div>
      <% }); %>
    </div>
    <div class="degree-section">
      <div class="degree-title">Degrees and Certifications</div>
      <% degreeItems.forEach((item) => { %>
        <div class="degree-item">
          <%= item %>
        </div>
      <% }); %>
    </div>
  </div>
</body>
<script>

  const profileImage = document.getElementById('profile-image')

  function handleImageUpload(event) {
    const file = event.target.files[0]
    if (file) {
      const reader = new FileReader()
      reader.onload = function (e) {
        profileImage.src = e.target.result
      }
      reader.readAsDataURL(file)
    }
  }
</script>
</html>